{% extends "portal/base.html" %}
{% load static %}
{% block title %}Mis matafuegos - GEMA{% endblock %}

{% block extra_css %}
<link href="{% static 'lexa/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block page_title %}
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="mb-0">Mis matafuegos</h4>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table id="datatable-mis-matafuegos" class="table table-centered table-nowrap mb-0">
                <thead>
                    <tr><th>Número</th><th>Tipo</th><th>Ubicación</th><th>Próxima carga</th><th>Próximo PH</th><th></th></tr>
                </thead>
                <tbody>
                    {% for m in matafuegos %}
                    <tr>
                        <td>{{ m.numero }}</td>
                        <td>{{ m.tipo }}</td>
                        <td>{{ m.localizacion|default:"-" }}</td>
                        <td>{{ m.fecha_proxima_carga|default:"-" }}</td>
                        <td>{{ m.fecha_proxima_ph|default:"-" }}</td>
                        <td><a href="{% url 'portal:mis-matafuegos-detalle' m.pk %}" class="text-primary">Ver</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'lexa/libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'lexa/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script>
$(function () {
    $('#datatable-mis-matafuegos').DataTable({
        language: { search: 'Buscar:', lengthMenu: 'Mostrar _MENU_ filas', info: 'Mostrando _START_ a _END_ de _TOTAL_', paginate: { previous: 'Anterior', next: 'Siguiente' }, zeroRecords: 'No hay matafuegos asociados a tu cuenta.' },
    });
});
</script>
{% endblock %}
